<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d4dd8b770b.js" crossorigin="anonymous"></script>

</head>

<body>

<header class="header">
    <div class="desktop">
    <div class="encabezado">
        <img class="logo" src="img/logo-mercado-liebre.svg" alt="logo de mercado liebre">
        <!-- barra de busqueda -->
        <div class="buscador">
            <form action="/search" method="get">
                <label for="search"></label>
                <input type="text" placeholder="Buscar productos, marcas" name="search">
                <button class="search"><i class="fa fa-search"></i></button>               
            </form>
        </div>            
    </div>
        <h3><button class="fondo"><i class="fa-solid fa-hand-holding-dollar"></i></button> Comprá en cuotas y sin tarjeta de crédito</h3>
    </div>
    <div class="links">
        <nav>
            <ul>
               <li><a href="/ofertas.html">Ofertas</a></li>
               <li><a href="/tiendasOficiales.html">Tiendas Oficiales</a></li>
               <li><a href="/vender.html">Vender</a></li>
               <li><a href="/ayuda.html">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/usuario.html">Creá tu cuenta</a><button class="fondo"><i class="fa-solid fa-address-card"></i></button></li>
                <li><a href="/ingreso.html">Ingresá</a><button class="fondo"><i class="fa-solid fa-arrow-right-to-bracket"></i></button></li>
                <li><a href="/compras.html">Mis compras</a><button class="fondo"><i class="fa-solid fa-basket-shopping"></i></button></li>
            </ul>               
        </nav>
        </div>

        <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>       
</header>

<main class="login">
    
    <div>
        <label for="usuario"></label>
        <input type="email" name="email" id="email" placeholder="e-mail">
    </div>

    <div>
        <label for="password"></label>
        <input type="password" name="pass" id="pass" placeholder="contraseña">
    </div>

    <button type="submit">Enviar</button>

</main>

<footer class="footer">
    <section>
        <button class="icono"><i class="fa-solid fa-credit-card"></i></button>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con  Mercado  Liebre  Cash,  tenés  cuotas  sin  interés  con  tarjeta  o  efectivo  en 
            puntos de pago. ¡Y siempre es seguro!</p>
    </section>

    <section>
        <button class="icono"><i class="fa-solid fa-gift"></i></button>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo  por  estar  registrad@  en  Mercado  Liebre  tenés  envíos  gratis en miles de 
            productos. Es un beneﬁcio de Mercado Puntos.</p>
    </section>

    <section>
        <button class="icono"><i class="fa-solid fa-user-shield"></i></button>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
            porque estás siempre protegid@.</p>
    </section>

    <section>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>
</footer>  

</body>

</html>