*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuentePrincipal);
}

a{
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background-color: var(--grisClaro);
}