.header{
    background-color: var(--amarillo);
    padding: 20px 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header .logo{
    margin: 0 10px;
    width: 50%;    
}

.header form input{
    border-radius: 3px;
    border: 0px;
    width: 70%;
}

.header .encabezado{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header h3{
    margin: 10px;
    text-align: center;
    width: 100%;
    font-size: 11px;
    padding: 5px;
}

.header h3 .fondo{
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    border: 0ch;
}



.header .burger-menu{
    display: flex;
    font-size: 16px;
    border: 5px solid blue;
    color: var(--grisClaro);
    width: 6%;
    height: 27px;
    background-color: blue;
    margin-left: 200px;
    border-radius: 5px;
    flex-direction: row;
}

.header .links{
    display: none;
}

.header nav ul li .fondo{
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    border: 0ch;
}

/* tablet */
@media(min-width:460px){
    .header{
         background-color: var(--amarillo);
         padding: 20px 0;
         margin: 0;
         width: 100%;
    }
    .header .desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .header .burger-menu{
        display: none;
    }
    .header .links{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }
    .header .links ul{
        display: flex;
        flex-direction: row;
    }
    .header .links ul li{
        margin: 10px;
    }
}
@media(min-width:769px){

}

