/* tablet */
@media(min-width:460px){
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
     }
    main section article h4{
     display: block;
     }
}

/* desktop */
@media(min-width:769px){

}


main{
    display: inline;
    margin: 0 auto;
    width: 90%;
    padding: 20px 0;
}

main .banner{
    display: none;
}

main section{
    padding: 20px 0;
}

main section h2{
    font-size: 24px;
    color: var(--grisOscuro);
}

main section article{
    margin: 10px 0;
    background-color: white;
}

main section article img{
    width: 100%;
    margin: 10px;
}

main section article .contenedor{
    border-top: 1px solid var(--grisClaro);
    padding: 15px;
}

main section article .camion i{
    color: var(--verde);
    padding: 10px;
    border: 1px solid var(--verde);
    border-radius: 50%;
    font-size: var(--cuerpo-de-texto);
}

main section article .camion i{
    display: block;
    position: absolute;
    right: 20px;
    margin-top: -30px;
}

main section article .precio{
    font-size: var(--precios);
}

main section article .descuento{
    color: var(--verde);
    font-size: var(--descuentosYdescripciones);
}

main section article h4{
    display: none;
    margin-top: 20px;
    color: var(--grisOscuro);
    font-size: var(--descuentosYdescripciones);
}


